
<li class="post-card-dashboard">

  <a href="/dashboard/edit/{{id}}" class="edit-link">Edit post</a>

  <a href="/post/{{id}}" class="dashboard-post-section">
    <img src="{{post_image}}" class="post-dashboard-image">

    <div class="post-dashboard-text-section">
      <h3 class="post-dashboard-title">{{title}}</h3>
      <span class="date-posted">Posted on {{format_date created_at}}</span>
    </div>
  </a>

</li>