<article class="post-full">
  <div class="post-header-section">

    <h2 class="post-title">{{title}}</h2>

    <div class="single-post-user">
      <img class="user-image" src="/{{user.user_image}}"> {{user.username}} on {{format_date created_at}}
    </div>

  </div>

    <img src="/{{post_image}}" class="post-image">

    <div class="post-text">
      {{post}}
    </div>
</article>