<a href="/post/{{id}}" class="post-card">
  <div class="post-card-text">
    <h3 class="post-title-small">{{title}}</h3>
    <p>{{post}}</p>
  </div>
  <div class="post-card-user">
    <span class="date-posted">This was posted on {{format_date created_at}}</span><br>
    <span class="user-posted">by {{user.username}}></span>
  </div>
</a>
